*{margin: 0; padding: 0; box-sizing: border-box;}

#bob{
    /* width: 100%; */
    margin: 3%;
    font-size: 30px;
    background-color: lightslategrey;
     
}
footer p{
    border: 2px solid black;
    padding: 3px;
    /* background-color: rgb(7, 141, 130); */
    width: 100%;
    margin: 4em auto;
    text-align: center;
}
.get{
    display: flex;
    flex-direction: row;
}
.get a{
    margin: 2%;
}
.touch{
    color:rgb(119, 81, 81);
    line-height: normal;
    border: 1px solid;
    width: fit-content;
    padding: 0.6rem;
    /* margin-bottom: 1rem; */
}
#icon{
    /* background-color: cadetblue; */
    border-radius: 50px;
    width: 7%;
    justify-content: center;
    align-content: center;
}
#git{
    /* background-color: #fffac46c; */
    margin: 3rem auto;
    padding: 2rem;
    width: 100%;
}

#card2{
    border: 0.4px solid cadetblue;
    margin: 4% auto;
    padding: 4%;
}
.card{
    margin-top: 4%;
}
#pix{ 
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
#about{
    /* background-color: #444; */
    margin-top: 20px;
    
}
/* .navbar-light bg-light{
    display: block;
    height: 100vh;
    position: fixed;
    width: 30px;
} */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
#pixhello{

    display: flex;
    flex-direction: row;
}
span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 400;
    color: #444;
}
#none{
    border-radius: 50%;
    width: 30%;
    margin-top: 7rem;
    /* padding: 4rem; */
}
.row{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    margin-bottom: 10rem;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr)) ;
}
.col{
background-color: rgb(22, 22, 60);
color: aliceblue;
padding: 2rem;
height:30rem;
margin: 2rem;
}

.col:hover{
     transform: scale(1.1);
     transition: all 300ms ease;
}

#col{
background-color: rgb(22, 22, 60);
color: aliceblue;
padding: 2rem;
height:30rem;
margin: 2rem;
overflow: scroll;
}

.grid-wrap{
    width: 100%;
    /* height: 50vh; */
    display: grid;
    grid-gap: 5rem;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr)) ;
}
h4{
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lemonchiffon;
}
.tech{
    /* margin: 10rem auto; */
    background: rgba(255, 0, 0, 0.263);
    animation: mymove 5s infinite;  
    padding: 15px;
}

@keyframes mymove {
    from {background-color: rgb(133, 88, 88);}
    to {background-color: rgb(48, 48, 116);}
    to {background-color: rgb(0, 126, 128);}
    to {background-color: rgb(225, 231, 225);}
    to {background-color: rgba(212, 151, 10, 0.662);}
    to {background-color: hsl(60, 2%, 26%);}
    to {background-color: #dc43f4;}
    to {background-color: rgba(209, 242, 209, 0.603);}
    to {background-color: rgb(145, 145, 32);}
    to {background-color: rgb(110, 248, 246);}
    to {background-color: rgb(40, 127, 233);}
    to {background-color: rgb(97, 47, 124);}
    to {background-color: green;}
}
.bos{
    width: 100%;
   
}
.body{
    background-image:url(pix/lodom\ image.1.jpg); 
    background-repeat: no-repeat;
    /* backgroung-opacity: 0.1em; */
    background-size: 100% 100%;
    background-attachment: fixed;
    /* background-position: center; */
    text-align: center;
    height: 50vh;
     
}
.lorem{
    text-align: center;
    margin-top: 10rem;
   color: ghostwhite;
   font-size: 30px;
    padding: 3em;
    color: rgba(255, 0, 0, 0.263);
    animation:move 3s infinite;  
    padding: 15px;
}
@keyframes move {
    from {color: rgb(109, 218, 19);}
    to {color: rgb(48, 48, 116);}
    to {color: rgb(0, 126, 128);}
    to {color: rgb(225, 231, 225);}
    to {color: rgb(225, 231, 225);}
    to {color: rgba(212, 151, 10, 0.662);}
    to {color: hsl(60, 2%, 26%);}
    to {color: rgb(11, 188, 247);}
    to {color: rgba(113, 112, 155, 0.662);}
    to {color: hsl(298, 87%, 44%);}
}

.wel{
    text-transform: uppercase;
    text-decoration: none;
    /* margin-top: 10%; */
    margin-top: 7rem;
} 
.papi,a{
    color: snow;
    text-decoration: none;
}
.papi:hover{
    background-color: cornsilk;
    color: #444;
    padding: 1rem;
    border-radius: 1rem;
}

h2{
    margin-top: 3rem;
}
h5{
    color: lemonchiffon;
    justify-content: center;
    justify-self: center;
    line-height: 2em;
    word-spacing:0.2em;
    color: rgb(246, 230, 230);

}
.car{color: lemonchiffon;}
.hello{
    text-align: center;
    margin: auto 3rem 3rem ;
    color: lemonchiffon;
}
.collect{
    background-color:#444;
    padding: 100px;
    width: 100%;
    height: 100%;

}

.collect:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);

}
/* .card-text{
    background-color: #999;
} */

@media only screen and (max-width:600px) {
    footer{
        display: block;
        
    }
    .collect{
        margin: 4%;
    }
    .collect{
        background-color:#444;
        padding:50px;
        width: 70%;
        height: 100%;
        margin: auto 20%;
    }
    .bos{
        width: 30%; 
        margin-left:30%; 
        margin-top: 10%;
    }
    #icon{
        margin: 1rem;
    }
    
    
}