*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    margin: 3%
     
}
footer{
    display: flex;
    flex-direction: row;
    
}
footer p{
    border: 2px solid black;
    padding: 3px;
    background-color: antiquewhite;

}
footer span{
    margin-left: auto;
}
#card2{
    border: 0.4px solid cadetblue;
    margin: 4% auto;
    padding: 4%;
}
.card{
    margin-top: 4%;
}